<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta
        content="width=device-width, initial-scale=1.0" name="viewport"/>
        <!-- Chrome -->
        <meta
        content="#F39C12" name="theme-color">
        <!-- Windows Phone -->
        <meta
        content="#F39C12" name="msapplication-navbutton-color">
        <!-- iOS Safari -->
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">

        <link
        href="/manifest.json" rel="manifest">
        <!-- Code snippet to speed up Google Fonts rendering: googlefonts.3perf.com -->
        <link href="https://fonts.gstatic.com" rel="dns-prefetch">
        <link crossorigin="anonymous" href="https://fonts.gstatic.com" rel="preconnect">
        <link as="fetch" crossorigin="anonymous" href="https://fonts.googleapis.com/css?family=Roboto" rel="preload">
        <script type="text/javascript">
            !function (e, n, t) {
                "use strict";
                var o = "https://fonts.googleapis.com/css?family=Roboto",
                    r = "__3perf_googleFontsStylesheet";
                function c(e) {
                    (n.head || n.body).appendChild(e)
                }
                function a() {
                    var e = n.createElement("link");
                    e.href = o,
                    e.rel = "stylesheet",
                    c(e)
                }
                function f(e) {
                    if (! n.getElementById(r)) {
                        var t = n.createElement("style");
                        t.id = r,
                        c(t)
                    }
                    n.getElementById(r).innerHTML = e
                }
                e.FontFace && e.FontFace.prototype.hasOwnProperty("display") ? (t[r] && f(t[r]), fetch(o).then(function (e) {
                    return e.text()
                }).then(function (e) {
                    return e.replace(/@font-face {/g, "@font-face{font-display:swap;")
                }).then(function (e) {
                    return t[r] = e
                }).then(f).catch(a)) : a()
            }(window, document, localStorage);
        </script>
        <!-- End of code snippet for Google Fonts -->

    <link href="/dist/main.04a04d003977db4f5c64.css" rel="stylesheet"></head>
    <body>
        {% block body %}{% endblock %}
    <script type="text/javascript" src="/dist/main.024ba7654a2ad76936d9.js"></script></body>
</html>
